{% extends 'base.html' %}

{% block title %}
    <title>About Us- Taskbuddy</title>
{% endblock title %}

{% block style %}
    <style>
        ul{
            font-family: 'Courier New', Courier, monospace;
            font-size: larger;
           
            
        }
    </style>  
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="mt-2 ml-2 p-1">
            <ul style="list-style-type:circle">
                <li>TaskBuddy brings up something to the people, through which they could create their own Todolist.</li> 
                <li>This application highlights the work which is pending. Hence this helps the user to differentiate between completed and Pending works(tasks).</li>
                <li>A great initiative was taken to make this application more accessible and Safe.</li>
                <li>Brought to you by -Dipti Shegar</li>
            </ul>
         </div>
    </div>
      
{% endblock content %}
